{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
	"ecmascript": 6,
	"modules": true,
	"classes": true,
	"arrowFunctions": tre
    },
    "env": {
      "browser": 1,
      "node": 1
    },
    "globals": {
      "module": 1,
      "require": 1,
    },
    "rules": {
        "quotes": [2, "single"],
        "strict": [2, "global"],
	"camelcase": [2, {"properties": "never"}]
    }
}
